# Auto detect text files and normalize line endings to LF
* text=auto

# Source code
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.sql text eol=lf
*.sh text eol=lf

# Batch files
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.zip binary
*.exe binary
*.dll binary
